img{
    width: 30%;
    float: left;
    margin: 1.66%;
}
#intro{
    font-family: 'Libre Franklin', sans-serif;
    margin-left: 1.66%;
    font-size: 23px;
    font-weight: bold;
    border-bottom: 3px solid #f1f1f1;
    width: 30%;
    padding-bottom: 20px;
}
#ending{
    font-family: 'Libre Franklin', sans-serif;
    margin-left: 1.66%;
    font-size: 15px;
    font-weight: lighter;
    border-top: 3px solid #f1f1f1;
    width: 30%;
    padding-top: 20px;
}